@model COLSTRAT.Domain.Menu.Entity.Fluids.Valvules.Valvule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Valvule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValvulesMenu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValvulesMenu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseFor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValvuleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
